* {
    box-sizing: border-box;
  }

body{
    background-color: #E5E5E5;
}

.container{
    Width: 550px;
    Height: auto;
    margin: auto;
    background-color: white;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    padding-bottom: 5px;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    Height: 55px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    background-color:#F55A5A ;
}

.navbar-logo{
    Width: 24px;
    Height: 24px;
}

.navbar-text{
    color: white;
}

.all-cards{
    background-color: white;
}

.card-container{
    display: flex;
    align-items: center;
    Height: 168px;
    margin: 40px;
}

.card-content{
    margin: 19px ;
}

.imageUrl{
    Width: 125px;
    Height: 168px;
    border-radius: 5px;
}

.card-location{
    font-size: 10.24px;
    color: #2B283A;
}

.googleMapsUrl{
    font-size: 10.24px;
    color: #918E9B;
    margin-left: 10px;
}

.title{
    font-size: 25px;
    color: #2B283A;
}

.date{
    font-size: 10.24px;
    color: #2B283A;
    font-weight: bold;
}

.description{
    font-size: 10.24px;
    color: #2B283A;
    text-align: justify;
}